@media (max-width: 500px){
    body{
        background-attachment:fixed;
        
    }

     .co-description{
        font-size: 12px;
    }


    .co-col-12{
        width: 80%;
        margin: auto;
    }

    .co-icons{
        display: flex;
        justify-content: center;
    }


}


@media(max-width:768px){
    body{
    background-attachment:fixed;
    
    }
    .navbar-collapse{
    
        margin: 0 30%;
        padding: 0 20px;
        font-size: 16px;
        transition: all .3s;
    
        & ul{
            text-align: center;
    
        }

    
    }

   

    h6{
        font-size:14px;
    }

    .co-description{
        font-size: 14px;
    }

    .co-icons{
        display: flex;
        justify-content: center;
    }

    .co-col-12{
        width: 80%;
        margin: auto;
    }
}

@media(min-width:768px) and (max-width:1100px){
    body{
        background-attachment: fixed;
        
    }

    .navbar-collapse{
    
        margin: 0 30%;
        padding: 0 20px;
        font-size: 16px;
        transition: all .3s;
    
        & ul{
            text-align: center;
    
        }
    
    }

  
   
}

@media(min-width:1001px) and (max-width:1300px) {
    body{
        background-attachment:fixed ;
    }

    .navbar-collapse{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        align-content: center;
    
        margin: 0 30%;
        padding: 0 20px;
        font-size: 16px;
        transition: all .3s;
    
        & ul{
            text-align: center;
            
          
        }

        
    
    }


}
