.co-font-nav{
    font-size: .85rem;

    & :nth-child(1) li a:hover{
        border: none;
        border-radius: 5px;
        background-color: $secondary-color;
    }
}

.co-navbar-brand{
    font-family: 'Poppins';
    cursor: pointer;
    user-select: none;
}

.co-navbar-toggler-icon{
    filter: invert(1);
}

.co-navbar-toggler:focus{
    box-shadow: none;
    border:none;
}

.dropdown-menu.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10%;
    background-color: $tertiary-color;
    color: $tertiary-color;

    & a{
        color: $text-color;
    }

}


.co-btn-signin{
    background-color: #4ad34a;
    border: none;

    &:hover{
        background-color: $primary-color;
    }

    &:active{
        background-color: $primary-color;
    }


} 


.co-btn-signup{
    border: none;

    &:hover{
        background-color: $primary-color;
    }
}

.wrapper{
    display: none;
    position: fixed;
    z-index:1 ;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    overflow:auto;
    background: transparent;
    border: 2px solid $secondary-color;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);

    & .co-modal-content{ 
        // display: none;
        width: 50%;   
        margin:auto;
        padding: 20px;

        & .icon-close{
            position: absolute;
            top: 0;
            right: 0;
            background-color: $secondary-color;
            font-size: 1.5em;
            width: 30px;
            height: 30px;
            border-bottom-left-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 1;
    
            &:hover{
                background-color: $tertiary-color;
            }
        }
    
        & .form-box{
            width: 100%;
            padding:40px;
    
            & h2{
                font-size: 2em;
                text-align: center;
            }
    
            & .input-box{
                position: relative;
                width: 100%;
                height: 50px;
                border-bottom: 2px solid $secondary-color;
                margin: 15px 0;
    
                & .icon{
                    position: absolute;
                    right: 1%;
                    font-size: 1.2em;
                    color: $secondary-color;
                    line-height: 47px;
                }
    
                & input{
                   width: 100%;
                   height: 100%;
                   background-color: transparent;
                   border: none;
                   outline: none; 
                   font-size: 1em;
                   font-weight: 600;
                   color: $text-color;
                   padding: 0 35px 0 5px ;
    
                   &:focus~label,
                   &:valid~label{
                    top: -5px;
                   }
    
                }
    
                & label{
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    transform: translateY(-50%);
                    font-size: 1em;
                    font-weight: 500;
                    pointer-events: none;
                    transition: 0.5s ;
    
                }
               
            }
    
            & .accept-conditions{
                font-size: .9em;
                font-weight: 500;
                margin: 15px 0 15px;
    
                &:hover{
                    font-style: oblique;
                }
                
                & label input{
                    accent-color:$secondary-color;
                    margin-right:3px ;
                }
            }
    
            & .button{
                width: 100%;
                height: 45px;
                color: $text-color;
                background-color: $secondary-color;
                border: none;
                outline: none;
                border-radius: 6px;
                cursor: pointer;
                font-size: 1em;
                font-weight: 500;
    
                &:hover{
                    background-color: $tertiary-color;
                }
            }
        }
    }
}

    